* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.containerPopup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: #3c5077;
    width: 600px;
    height: 300px;
    border-radius: 8px;
}

.containerPopup #btn button {
    width: 150px;
    height: 36px;
    background-color: #fff;
    color: black;
    border-radius: 15px;
    outline: 0;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.containerPopup #btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup {
    background-color: #ffff;
    width: 365px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: -400px;
    left: 112px;
    transform: scale(0.1);
    visibility: hidden;
    transition: all 0.4s 0.1s ease-in-out;
    opacity: 0;
}

.showPopup {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    top: 50px;

}

.popup img {
    width: 80px;
    position: absolute;
    top: -21px;
}

.popup h1 {
    font-size: 35px;
    padding-top: 43px;
}

.popup p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.popup button {
    height: 40px;
    font-size: 20px;
    width: 202px;
    margin-top: 20px;
    background-color: #3bbb3b;
    outline: 0;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

@media (max-width:425px) {
    .popup {
        width: 339px;
        height: 283px;
        left: 21px;
    }

    .containerPopup {
        width: 380px;
        height: 300px;
    }
}

@media (max-width:370px) {
    .containerPopup {
        width: 330px;
    }

    .popup {
        width: 318px;
        height: 283px;
        left: 6px;
    }
}

@media (max-width:320px) {
    .containerPopup {
        width: 304px;
    }

    .popup {
        width: 291px;
    }
}